* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

p {
    font-family: 'Poppins', sans-serif;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #297373;
    margin-bottom: 30px;
}
.navbar{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}

.navbar a:hover {
    color: #297373;
    font-weight: bold;
}
.logo{
    margin-left: 30px;
    background: url(imgs/running-logo.jpg) no-repeat;
    width: 100px;
    height: 80px;
    font-size: 0;
}
.list{
    list-style: none;
    display: flex;
    gap:25px;
}
#toggler, .navbar label{
    display: none;
}

.seccion01-container {
    display: flex;
    width: 80%;
    margin: 0 auto; /*  solo se me centra con esto, probe todo los justify y nada */
}

.seccion01-imagen {
    width: 30%;
}
.seccion01-info {
    margin-top: 20px;
    width: 70%;
}

.seccion01-info h1{
    margin-bottom: 20px;
    color: #297373;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.seccion01-info p:nth-last-child(2) {
 margin-bottom: 10px;
}

.ultimo-parrafo-seccion01 {
    width: 80%;
    margin: 15px auto;
}

.background-banner {
    width: 100%;
    height: 800px;
   /*  height: calc(100vh * 0.398467432950192); Pruebo esto con vw y vh y tampoco me sale*/
    background-image: url(imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100vw; 
}

.seccion02-info {
    width: 80%;
    margin: 0 auto;
}
.seccion02-info p {
    margin: 15px 0;
    padding-right: 20px;
}
   
.seccion03-container {
    background-color: #297373;
    width: 80%;
    flex-direction: row;
    margin: 0 auto;
}

.seccion03-icono-estres {
        width: 20%;
        height: 150px;
        background-image: url(imgs/icono-estres.png);
        background-repeat: no-repeat;
        background-position: 50%;
}

.seccion03-icono-cerebro {
    width: 20%;
    height: 150px;
    background-image: url(imgs/icono-cerebro.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.seccion03-icono-ansiedad {
    width: 20%;
    height: 150px;
    background-image: url(imgs/icono-ansiedad.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.seccion03-icono-autoestima {
    width: 20%;
    height: 150px;
    background-image: url(imgs/icono-autoestima.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.seccion03-icono-vicios {
    width: 20%;
    height: 150px;
    background-image: url(imgs/icono-vicios.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.seccion03-icono-sueño {
    width: 20%;
    height: 150px;
    background-image: url(imgs/icono-sueño.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.seccion03-info {
    width: 100%;
    align-self: center;
    padding: 15px;
}
.seccion03-flex {
    display: flex;
}

.seccion04-container {
    text-align: center;
}

.seccion04-title {
    margin-top: 30px;
}

form{
    width: 700px;
    margin: 0 auto; 
}

label {
    width:446px;
    display:inline-block;
    padding:10px;
    font-family: 'Poppins', sans-serif;
    color: #297373;
}
		
input{
    margin:10px 0;
    width:200px;
    font-family: 'Poppins', sans-serif;
}

fieldset input:hover {
    background-color: #297373;
    color: #ffffff;
    border: none;
}

form fieldset {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    border-style: none;
}
form fieldset input {
    width: 350px;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.seccion05-container h2 {
    margin: 15px 0;
}
iframe {
    width: 80vw;
    height: 50vh;
    height: calc(760/1345);
    max-width: 1345px;
    max-height: 760px;
}
  
.footer {
    width: 100%;
    height: 145px;
    background-color: #297373;
}

.footer p {
    text-align: center;
    color: #ffffff;
}

.division-flex {
    display: flex;
    width: 100%;
    height: 120px;
}

.info-alumna {
    width: 80%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    height: 120px;
}
.redes-sociales {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: center;
}

.icono-instagram {
    width: 35px;
    background-image: url(imgs/icono-instagram.png);
    background-repeat: no-repeat;
    background-position: 0;
    margin-right: 20px;
}



.icono-twitter {
    width: 35px;
    background-image: url(imgs/icono-twitter.png);
    background-repeat: no-repeat;
    background-position: 0;
    margin-right: 20px;
}
.icono-facebook{
    width: 35px;
    background-image: url(imgs/icono-facebook.png);
    background-repeat: no-repeat;
    background-position: 0;
}

@media screen and (max-width: 576px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        width: 20%;
        display: inline-flex;
        cursor: pointer;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }  
    .background-banner {
        width: 100%;
        height: 150px;
       /*  height: calc(100vh * 0.398467432950192); Pruebo esto con vw y vh y tampoco me sale*/
        background-image: url(imgs/banner.jpg);
        background-repeat: no-repeat;
        background-size: 100vw; 
    }

    .seccion03-flex {
        background-color: #297373;
        width: 80%;
        flex-direction: column;
        margin: 0 auto;
    }
    .seccion01-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto; /*  solo se me centra con esto, probe todo los justify y nada */
    }
    
    .seccion01-imagen {
        width: 100%;
        text-align: center;
    }
    .seccion01-info {
        margin-top: 20px;
        width: 100%;
    }
    
    .seccion03-icono-estres {
        width: 100%;
        height: 150px;
        background-image: url(imgs/icono-estres.png);
        background-repeat: no-repeat;
        
}

    .seccion03-icono-cerebro {
    width: 100%;
    height: 150px;
    background-image: url(imgs/icono-cerebro.png);
    background-repeat: no-repeat;
    
}

.seccion03-icono-ansiedad {
    width: 100%;
    height: 150px;
    background-image: url(imgs/icono-ansiedad.png);
    background-repeat: no-repeat;
   
}

.seccion03-icono-autoestima {
    width: 100%;
    height: 150px;
    background-image: url(imgs/icono-autoestima.png);
    background-repeat: no-repeat;
 
}

.seccion03-icono-vicios {
    width: 100%;
    height: 150px;
    background-image: url(imgs/icono-vicios.png);
    background-repeat: no-repeat;
  
}
.seccion03-icono-sueño {
    width: 100%;
    height: 150px;
    background-image: url(imgs/icono-sueño.png);
    background-repeat: no-repeat;
   
}

   form {
    width: 400px;
    text-align: center;
    margin: 20px auto;
    }

    form fieldset {
    width: 400px;
    }

    label, input {
     text-align: center;
    }

    label {
     width: 100%;
    }

    .footer {
        width: 100%;
        height: 210px;
        background-color: #297373;
    }
    
    .footer p {
        text-align: center;
        color: #ffffff;
    }
    
    .division-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 180px;
    }
    
    .info-alumna {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #ffffff;
    }
    .redes-sociales {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    
    .icono-instagram {
        width: 35px;
        height: 8vh;
        background-image: url(imgs/icono-instagram.png);
        background-repeat: no-repeat;
        background-position: 0;
        margin-right: 20px;
    }

    .icono-twitter {
        width: 35px;
        height: 8vh;
        background-image: url(imgs/icono-twitter.png);
        background-repeat: no-repeat;
        background-position: 0;
        margin-right: 20px;
    }
    .icono-facebook{
        width: 35px;
        height: 8vh;
        background-image: url(imgs/icono-facebook.png);
        background-repeat: no-repeat;
        background-position: 0;
    }
     
}

@media screen and (min-width: 577px) and (max-width: 991px) {
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        width: 20%;
        display: inline-flex;
        cursor: pointer;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }  
    
    .seccion03-flex {
        background-color: #297373;
        width: 80%;
        flex-direction: column;
        margin: 0 auto;
    }
    .seccion01-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto; /*  solo se me centra con esto, probe todo los justify y nada */
    }
    
    .seccion01-imagen {
        width: 100%;
        text-align: center;
    }
    .seccion01-info {
        margin-top: 20px;
        width: 100%;
    }
    
    .background-banner {
        width: 100%;
        height: 300px;
       /*  height: calc(100vh * 0.398467432950192); Pruebo esto con vw y vh y tampoco me sale*/
        background-image: url(imgs/banner.jpg);
        background-repeat: no-repeat;
        background-size: 100vw; 
    }
    .seccion03-flex {
        background-color: #297373;
        width: 80%;
        flex-direction: column;
        margin: 0 auto;
    }
    .seccion03-icono-estres {
        width: 100%;
        height: 150px;
        background-image: url(imgs/icono-estres.png);
        background-repeat: no-repeat;  
    }

    .seccion03-icono-cerebro {
        width: 100%;
        height: 150px;
        background-image: url(imgs/icono-cerebro.png);
        background-repeat: no-repeat;
    }

    .seccion03-icono-ansiedad {
        width: 100%;
        height: 150px;
        background-image: url(imgs/icono-ansiedad.png);
        background-repeat: no-repeat; 
    }

    .seccion03-icono-autoestima {
        width: 100%;
        height: 150px;
        background-image: url(imgs/icono-autoestima.png);
        background-repeat: no-repeat;
    }

    .seccion03-icono-vicios {
        width: 100%;
        height: 150px;
        background-image: url(imgs/icono-vicios.png);
        background-repeat: no-repeat;
    }
    .seccion03-icono-sueño {
        width: 100%;
        height: 150px;
        background-image: url(imgs/icono-sueño.png);
        background-repeat: no-repeat;
    }

    form {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    }

    form fieldset {
        width: 400px;
    }

    label, input {
        text-align: center;
    }

    label {
        width: 100%;
    }
    .footer {
        width: 100%;
        height: 210px;
        background-color: #297373;
    }
    
    .footer p {
        text-align: center;
        color: #ffffff;
    }
    
    .division-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 180px;
    }
    
    .info-alumna {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #ffffff;
    }
    .redes-sociales {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    
    .icono-instagram {
        width: 35px;
        height: 8vh;
        background-image: url(imgs/icono-instagram.png);
        background-repeat: no-repeat;
        background-position: 0;
        margin-right: 20px;
    }

    .icono-twitter {
        width: 35px;
        height: 8vh;
        background-image: url(imgs/icono-twitter.png);
        background-repeat: no-repeat;
        background-position: 0;
        margin-right: 20px;
    }
    .icono-facebook{
        width: 35px;
        height: 8vh;
        background-image: url(imgs/icono-facebook.png);
        background-repeat: no-repeat;
        background-position: 0;
    }
     
}

@media screen and (min-width: 992px) and (max-width: 1224px){
    .background-banner {
        width: 100%;
        height: 500px;
       /*  height: calc(100vh * 0.398467432950192); Pruebo esto con vw y vh y tampoco me sale*/
        background-image: url(imgs/Asset\ 15-100.jpg);
        background-repeat: no-repeat;
        background-size: 100vw; 
    }
    .seccion03-flex {
        background-color: #297373;
        width: 80%;
        flex-direction: column;
        margin: 0 auto;
    }

    .seccion03-icono-estres {
        width: 100%;
        height: 150px;
        background-image: url(imgs/icono-estres.png);
        background-repeat: no-repeat;  
    }

    .seccion03-icono-cerebro {
        width: 100%;
        height: 150px;
        background-image: url(imgs/icono-cerebro.png);
        background-repeat: no-repeat;
    }

    .seccion03-icono-ansiedad {
        width: 100%;
        height: 150px;
        background-image: url(imgs/icono-ansiedad.png);
        background-repeat: no-repeat; 
    }

    .seccion03-icono-autoestima {
        width: 100%;
        height: 150px;
        background-image: url(imgs/icono-autoestima.png);
        background-repeat: no-repeat;
    }

    .seccion03-icono-vicios {
        width: 100%;
        height: 150px;
        background-image: url(imgs/icono-vicios.png);
        background-repeat: no-repeat;
    }
    .seccion03-icono-sueño {
        width: 100%;
        height: 150px;
        background-image: url(imgs/icono-sueño.png);
        background-repeat: no-repeat;
    }
}
